@import '../Partials/colors';
@import '../Partials/fonts';

video{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2{
    @include titulosContentFont(25px);
}
p{
    @include titulosContentFont(18px);
    padding-bottom: 20px;
}
.container{
    align-content: center;
    margin: auto;
}

@media screen and (min-width: 900px) {
    .container{

        width: 70%;
    }
}


@media screen and (max-width: 900px) {
    .container{

        width: 90%;
    }
}